


.box{
    background-color: #701D1D;
}

body{
    background-color: #523737;
}

.gameTitle{
    color: rgb(230, 175, 75);
}

.content {
    color: rgb(216, 180, 114);
}

h1 {
    line-height: 80px;
    font-size: 50px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
