.box{
    background-color: #701D1D;
}

body{
    background-color: #523737;
}

.gameTitle{
    color: rgb(230, 175, 75);
}

.content {
    color: rgb(216, 180, 114);
}

#heading {
    line-height: 90px;
    font-size: 40px;
}
